@media (min-width: 992px) { 
    #menuBar  .nav-main .dropdown:hover .dropdown-menu  {
        display: block;
        margin-top: 0px;
    }
 }


@media (max-width: 991.98px) { 
    #menuBar .nav-main .dropdown:hover .dropdown-menu.show {
        display: block;
        margin-top: 0px;
    }
    
    .xurl-social-icons  {
    	display: inline;
    	vertical-align: middle!important;
    	margin-top: initial;
    }
 }
 
img.icon {
 max-width: 16px;
} 